{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 *
 * @ingroup themeable
 */
#}

{% if breadcrumb %}
  <breadcrumb- role="navigation" aria-labelledby="system-breadcrumb" .breadcrumbs="{{ breadcrumb|json_encode }}">
    <h2 slot="label" id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
  </breadcrumb->
{% endif %}

    {# <ol>
    {% for item in breadcrumb %}
      <li>
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          {{ item.text }}
        {% endif %}
      </li>
    {% endfor %}
    </ol> #}
